body{
    background-image: url(../images/grid.png);
    background-repeat: repeat;
}

section{
    background-image: url(../images/subtle_carbon.png);
    background-repeat: repeat;
    border-radius: 10pt;
    width: 800pt;
    position: relativ;
    margin: 10% auto;
    background-color: #000000;
    font-size: 30pt;
    text-align: left;
    color: #00FF00;
}

article{
    margin: 0 30pt;
}

table{
    table-layout: auto;
    width: 800pt;
}

a{
    font-weight: bolder;
    color: #00FF00;
}
