body{
    background-image: url(../images/grid.png);
    background-repeat: repeat;
}

section{
    background-image: url(../images/subtle_carbon.png);
    background-repeat: repeat;
    border-radius: 10pt;
    width: 800pt;
    position: relativ;
    margin: 20pt auto;
    background-color: #000000;
    font-size: 20pt;
    text-align: left;
    color: #00FF00;
}

td{
    width:25%;
}

article{
    margin: 0 30pt;
}

table{
    width: 800pt;
}

a{
    font-weight: bolder;
    color: #00FF00;
}

hr{
    color: #000000;
    width: 100%;
}
