header{
    width:100%;
    height: 10%;
    background: #000000;
    text-align: center;
    color: #ffffff;
}

article{
    width: 100%;
    height: 70%;
    background-image: url(../images/lanMan.jpg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
}

footer{
    width: 100%;
    height: 5%;
}
